[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prompt-toolkit = "*"

[dev-packages]
build = "*"
pytest = "*"
twine = "*"

[requires]
python_version = "3.10"

[scripts]
build = "pipenv run python -m build"
demo = "pipenv run python demo/demo.py"
test = "pytest -vv"
upload = "twine upload dist/*"
upload-test = "twine upload --repository testpypi dist/*"